body p{ 
color: green; 
} 

*{
	background: black;
	color: white; !important
	font-style: verdana
}

h1{
	font-family: Arial;
}

div{
	padding-top: 10px;
	padding-left: 20px;
}

body{ 
color: red; 
}

p{
	color: blue;
}